* {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
    overflow: hidden;
    box-shadow: inset 0 -1px 0 #cacaca;
    background: #eaeaea;
}

h3 {
    margin: 20px 0 10px;
    font-family: sans-serif;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    float: left;
    padding: 6px;
    background: #2291dc;
}

.search {
    float: left;
    margin-left: 20px;
}

.search input[type='text'] {
    border: none;
    padding: 10px;
    outline: none;
    width: 400px;
}

.search input[type='submit'] {
    background: none;
    outline: none;
    border: 1px solid #2291dc;
    padding: 9px 10px;
    cursor: pointer;
    margin-left: 10px;
    color: #2291dc;
}

.container {
    margin: 0 auto;
    width: 750px;
}

.content {
    margin-top: 10px;
}

.preguntas li {
    list-style: none;
    background: whitesmoke;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-left: 5px solid #2291dc;
    cursor: pointer;
}

.preguntas li.no-ans {
    border: none;
    cursor: auto;
}

.preguntas li:hover {
    border-color: crimson;
}

.preguntas li:hover .ask-title {
    color: crimson;
}

.ask-title {
    color: #4799a3;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}

.ask-summary {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(36, 36, 36);
}

.clearfix {
    clear: both;
}

.menu {
    width: 20%;
    float: left;
    height: 400px;
}

.menu li a, .menu li {
    list-style: none;
    font-family: sans-serif;
    margin: 10px 0;
    font-size: 13px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.menu li.selected {
    font-weight: bold;
}

.midle {
    width: 55%;
    float: left;
}

.otros {
    width: 25%;
    float: left;
}

p.datetime {
    font-size: 12px;
    font-family: sans-serif;
    color: #525252;
    margin: 5px 0 0;
}

.ask-search {
    margin: 10px 0;
    font-size: 17px;
    font-weight: normal;
    color: rgb(65, 65, 65);
}

.ask-search .word {
    color: rgb(58, 133, 192);
    font-weight: bold;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.form-task {
    background: #eaeaea;
    padding: 20px;
}

.form-task p {
    overflow: hidden;
}

.form-task p label {
    float: left;
    width: 100px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
}

.form-task p input[type=text], .form-task p textarea {
    width: 350px;
    border: none;
    min-height: 22px;
    outline: none;
}

.btn-full {
    border: none;
    outline: none;
    padding: 6px 15px;
    color: white;
    background: #2291dc;
    font-size: 14px;
    cursor: pointer;
}

.btn-full:hover {
    background: white;
    color: #2291dc;
}

.number-ans {
    padding: 15px 5px;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    background: whitesmoke;
    color: #333;
    font-size: 14px;
}

.body-quest {
    padding: 15px 5px;
    font-family: sans-serif;
    font-size: 14px;
}

.datetime-quest {
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(71, 71, 71);
}

.ans-points {
    width: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px 0;
    float: left;
}

.ans-points-total {
    padding: 3px 0;
    background: #444;
    border-radius: 8px;
    font-size: 14px;
    color: white;
}

.ans-points-up {
    margin: 3px 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 12px solid #2291dc;
    cursor: pointer;
}

.ans-points-up:hover {
    border-bottom: 12px solid #444;
}

.ans-points-down {
    margin: 3px 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid #2291dc;
    cursor: pointer;
}

.ans-points-down:hover {
    border-top: 12px solid #444;
}

.ans-content {
    padding: 5px;
}

.ans-user {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 15px;
}

.ans-desc {
    float: left;
    margin: 10px 0 0 10px;
    width: 90%;
}

.ans-body {
    border-bottom: 1px solid rgb(221, 221, 221);
    overflow: hidden;
}