{% extends 'base.html' %}

{% block menu_home %}
    selected
{% endblock %}

{% block content_midle %}
    {% if q %}
        <h5 class="ask-search">Resultados para <span class="word">"{{ q }}"</span></h5>
    {% endif %}
    <ul class="preguntas">
        {% for question in questions %}
            <li>
                <a class="ask-title" href="{% url 'detail-ask' question.id %}">
                    <h4>{{ question.title }}</h4>

                    <p class="datetime">{{ question.created_at }}</p>

                    <p class="ask-summary">{{ question.content|truncatechars:'25' }}...</p>
                </a>
            </li>
        {% empty %}
            {% if q %}
                <li class="no-ans">No hay resultados</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}